{% extends 'Users/Base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head %}
    <title>Add details</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card-panel hoverable">
                    <div class="container">
                        <div class="section">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix white">phone_android</i>
                                        {{ p_form.phone|add_class:"validate" }}
                                        <label class="white" for="{{ p_form.phone.id_for_label }}">Phone</label>
                                        {% if p_form.phone.help_text %}
                                            <span class="helper-text" data-error="wrong"
                                            data-success="right">{{ p_form.phone.help_text }}</span>
                                        {% endif %}
                                        {% if p_form.phone.errors %}
                                            <span class="helper-text red-text"
                                            style="font-size:large">{{ p_form.phone.errors }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix white">pin_drop</i>
                                        {{ p_form.address|add_class:"validate" }}
                                        <label class="white" for="{{ p_form.address.id_for_label }}">Address</label>
                                        {% if p_form.address.help_text %}
                                            <span class="helper-text" data-error="wrong"
                                            data-success="right">{{ p_form.address.help_text }}</span>
                                        {% endif %}
                                        {% if p_form.address.errors %}
                                            <span class="helper-text red-text"
                                            style="font-size:large">{{ p_form.address.errors }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix white">domain</i>
                                        {{ p_form.street|add_class:"validate" }}
                                        <label class="white" for="{{ p_form.street.id_for_label }}">Street</label>
                                        {% if p_form.street.help_text %}
                                            <span class="helper-text" data-error="wrong"
                                            data-success="right">{{ p_form.street.help_text }}</span>
                                        {% endif %}
                                        {% if p_form.street.errors %}
                                            <span class="helper-text red-text"
                                            style="font-size:large">{{ p_form.street.errors }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix white">location_city</i>
                                        {{ p_form.city|add_class:"validate" }}
                                        <label class="white" for="{{ p_form.city.id_for_label }}">City</label>
                                        {% if p_form.city.help_text %}
                                            <span class="helper-text" data-error="wrong"
                                            data-success="right">{{ p_form.city.help_text }}</span>
                                        {% endif %}
                                        {% if p_form.city.errors %}
                                            <span class="helper-text red-text"
                                            style="font-size:large">{{ p_form.city.errors }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix white">fiber_pin</i>
                                        {{ p_form.pincode|add_class:"validate" }}
                                        <label class="white" for="{{ p_form.pincode.id_for_label }}">Pin Code</label>
                                        {% if p_form.pincode.help_text %}
                                            <span class="helper-text" data-error="wrong"
                                            data-success="right">{{ p_form.pincode.help_text }}</span>
                                        {% endif %}
                                        {% if p_form.pincode.errors %}
                                            <span class="helper-text red-text"
                                            style="font-size:large">{{ p_form.pincode.errors }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ p_form.image|add_class:"validate" }}
                                </div>
                                <div class="section">
                                </div>
                                <div class="row">
                                    <div class="col s3 offset-s5">
                                        <button type="submit" class="btn btn-outline-info register_btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
