{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'Materialize/CSS/materialize.css' %}">
{#        <link rel="stylesheet" href="{% static 'Login/CSS/header.css' %}">#}
        <link rel="stylesheet" href="{% static 'Login/CSS/Googleicon.css' %}">
        <link rel="stylesheet" href="{% static "Login/CSS/karthik_header.css" %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="page-overlay"></div>

{#            <ul>#}
{#                <li><a class="active" href='{% url 'Users-Home' %}'>Home</a></li>#}
{#                {% if user.is_authenticated %}#}
{#                    <li style="float:right"><a href={% url 'Users-Logout' %}>Logout</a></li>#}
{#                    <li style="float:right"><a href={% url 'Users-Profile' %}>Profile</a></li>#}
{#                {% else %}#}
{#                    <li style="float:right"><a href={% url 'Users-Login' %}>Login</a></li>#}
{#                    <li style="float:right"><a href={% url 'Rest-Login' %}>Hotel Login</a></li>#}
{#                    <li style="float:right"><a href={% url 'Users-Register' %}>Custumer Register</a></li>#}
{#                {% endif %}#}
{#            </ul>#}

            <ul class="nav">
                <li id="settings">
                    <a href="{% url 'Users-Home' %}"><img src="{% static 'Login/Media/123.png' %}" height=100px width=200px/></a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li id="search">
                    <form autocomplete="off" action="{% url "payments:search" %}" method="post">
                        {% csrf_token %}
{#                        <div class="autocomplete" style="width:300px;">#}
                        <input id="myInput" type="text" name="myCountry" placeholder="Search">
{#                        </div>#}
                        <input type="submit" name="search_button" id="search_button">
                    </form>
                </li>
                {% if user.is_authenticated %}
                    <div class="right">
                        <li id="options">
                            <a href="#">Hi ,{{ user.username }}</a>
                            <ul class="subnav">
                                <li><a href="{% url "payments:makecart" %}">My Cart</a></li>
                                <li><a href="{% url "payments:makeorderconfirm" %}">Order confirmation</a></li>
                                <li><a href="{% url "payments:makeprev" %}">Previous bookings</a></li>
                                <li><a href="{% url 'Users-Profile' %}">Profile</a></li>
                                <li><a href="{% url 'Users-ChangePassword' %}">Change password</a></li>
                                <li><a href="{% url 'Users-Logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </div>
                {% else %}
                    <div class="right">
                        <li>
                            <a href="{% url 'Users-Login' %}">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'Users-Register' %}">
                                Register
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'Rest-Login' %}">
                                Hotel Login
                            </a>
                        </li>
                    </div>
                {% endif %}
            </ul>



            <div style="padding:70px;margin-top:30px;">
                <div class='container'>
                    <div class='row'>
                        <div class='col s4 offset-s4'>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'info' %}
                                        <div class='card blue lighten-1'>
                                            <div class='center'>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% elif message.tags == 'success' %}
                                        <div class='card green lighten-1'>
                                            <div class='center'>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% elif message.tags == 'error' %}
                                        <div class='card red lighten-1'>
                                            <div class='center'>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class='card gray lighten-1'>
                                            <div class='center'>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}

            {% endblock body %}



          <footer class="footer-distributed">
              <div class="footer-left">
                    <h3>F00d3zz</h3>
                    <p class="footer-links">
                        <a href="{% url 'Users-Home' %}">Home</a>
                        ·
                        <a href="{% url "blog:post_list" %}">Blog</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Contact</a>
                    </p>

              <p class="footer-company-name">Food3zz &copy; 2018</p>

                  <div class="footer-icons">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-github"></i></a>

                  </div>

              </div>

          </footer>



        <script type="text/javascript"  src="{% static 'Materialize/JS/materialize.js' %}"></script>
        <script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var countries = ["tada","swathi","kitchen","sunny"];

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>



    </body>
</html>
