{% extends 'Users/Base.html' %}
{% load widget_tweaks %}

{% block head %}
    <title>Change password</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s5 offset-s2">
                <div class="section">
                    <div class="card-panel hoverable">
                        <form class="" action="" method="POST">
                            <div class="row">
                                <div class="container">
                                    {% if form.non_field_errors %}
                                        <span class="red-text">{{ form.non_field_errors }}</span>
                                    {% endif %}
                                    {% csrf_token %}
                                    {% for hidden in ChangePassForm.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix white">lock</i>
                                            {{ ChangePassForm.Current_password|add_class:"validate" }}
                                            <label class="white" for="{{ ChangePassForm.Current_password.id_for_label }}">Current Password</label>
                                            {% if ChangePassForm.Current_password.help_text %}
                                                <span class="helper-text" data-error="wrong"
                                                data-success="right">{{ ChangePassForm.Current_password.help_text }}</span>
                                            {% endif %}
                                            {% if ChangePassForm.Current_password.errors %}
                                                <span class="helper-text red-text"
                                                style="font-size:large">{{ ChangePassForm.Current_password.errors }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix white">lock_open</i>
                                            {{ ChangePassForm.new_Password|add_class:"validate" }}
                                            <label class="white" for="{{ ChangePassForm.new_Password.id_for_label }}">New Password</label>
                                            {% if ChangePassForm.new_Password.help_text %}
                                                <span class="helper-text" data-error="wrong"
                                                data-success="right">{{ ChangePassForm.new_Password.help_text }}</span>
                                            {% endif %}
                                            {% if ChangePassForm.new_Password.errors %}
                                                <span class="helper-text red-text"
                                                style="font-size:large">{{ ChangePassForm.new_Password.errors }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix white">lock</i>
                                            {{ ChangePassForm.Re_Password|add_class:"validate" }}
                                            <label class="white" for="{{ ChangePassForm.Re_Password.id_for_label }}">Confirm Password</label>
                                            {% if ChangePassForm.Re_Password.help_text %}
                                                <span class="helper-text" data-error="wrong"
                                                data-success="right">{{ ChangePassForm.Re_Password.help_text }}</span>
                                            {% endif %}
                                            {% if ChangePassForm.Re_Password.errors %}
                                                <span class="helper-text red-text"
                                                style="font-size:large">{{ ChangePassForm.Re_Password.errors }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="center">
                                            <button type="submit" class="btn btn-outline-info register_btn">Change password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
