{% extends 'Users/Base.html' %}
{% load staticfiles %}
{% block head %}
    <title>
        Home page
    </title>
{% endblock head %}

{% block body %}
    <img src="{% static 'Login/Media/wallpaper-home.jpg' %}" width=100%>
            <div class="_2tnu-">
          <div class="_2RZDN">
            <div class="_2Zn3W" style="margin-top:50px">
              <div class="_1Vw_y">
                <img class="_2dYjq" style="border-radius: 50%" width="200" height="199" src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&h=350">
              </div>
              <div class="_3fted">Tasty Food Anywhere</div>
              <div class="_12i5X">Order for yourself and your family with no delivery fee
              </div>
            </div>
            <div class="_2Zn3W" style="margin-top:50px">
              <div class="_1Vw_y">
                <img class="_2dYjq" style="border-radius: 50%" width="250" height="199" src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg">
              </div>
              <div class="_3fted">Varieties of food</div>
              <div class="_12i5X">Pick your favourite food from menu</div>
            </div>
            <div class="_2Zn3W" style="margin-top:50px">
              <div class="_1Vw_y">
                <img class="_2dYjq" style="border-radius: 50%" width="250" height="199" src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/salted_dark_chocolate_16338_16x9.jpg">
              </div>
              <div class="_3fted">Live tracking
              </div>
              <div class="_12i5X">No matter where your food is, you can see it with our live order tracking
              </div>
            </div>
          </div>
        </div>

<div class="whI9o" style="margin-top:70px">
  <div class="_2hoYp">
  <div class="_2cN-j">
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  <a class="nl7Rm" href="{% url "payments:locaterestaurants" "tada" %}">Tada</a>
  </div>
</div>
</div>


{% endblock body %}
