{% extends 'Users/Base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Password-Reset-Complete - Page
    </title>
    <meta http-equiv="Refresh" content="5;{% url 'Users-Login' %}">
{% endblock head %}

{% block body %}
    <div class="alert alert-info">
        Your password has been set. You should be redirected to login page in 5 seconds. If not then click on the below link to login.
    </div>
    <a href="{% url 'Users-Login' %}">Sign In here</a>
{% endblock body %}
