{% extends 'Users/Base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Password-Reset-Done - Page
    </title>
    <meta http-equiv="Refresh" content="5;{% url 'Users-Home' %}">
{% endblock head %}

{% block body %}
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
        <br> You should be redirected to home page in 5 seconds. If not the click on the below link to go to home page.
    </div>
    <a href="{% url 'Users-Home' %}">Home page</a>
{% endblock body %}
