{% extends 'Users/Base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Profile-Page
    </title>
{% endblock head %}

{% block body %}
   <div class="content-section">
       <div class="media">
           <img class="responsive-img circle" src={{ user.user_profile.image.url }} alt= 'Smily face'>
           <div class="media-body" >
               <h2 class="account-heading">{{ user.username }}</h2>
               <p class="text-secondary">{{ user.email }}</p>
           </div>
       </div>
   </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12" style="text-align: center">
            Update your profile
        </div>
        <fieldset class="form-group">
        <div class="col-md-12">
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </div>
        </fieldset>
        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-info register_btn">Update</button>
        </div>
        <div class="col-md-12 border-top pt-4">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#">Login</a>
            </small>
        </div>
    </form>
{% endblock body %}