{% extends 'Users/Base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Register page
    </title>
{% endblock head %}

{% block body %}
    <div class="card-panel hoverable">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="divider"></div>
                        <div class="section" style="text-align: center">
                            Register
                        </div>
                    <div class="divider"></div>
                    <fieldset class="form-group">
                    <div class="col s3 offset-s2">
                        {{ User_Form1 }}
                    </div>
                    <div class="col s3 offset-s2">
                        {{ User_Details1 }}
                    </div>
                    </fieldset>
                    <div class="">
                        <button type="submit" class="btn-floating btn-large green z-depth-0">Register</button>
                    </div>
                    <div class="col-md-12 border-top pt-4">
                        <small class="text-muted">
                            Already have an account? <a class="ml-2" href='{% url 'Users-Login' %}'>Login</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
{% endblock body %}
