{% extends 'Users/Base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Register page
    </title>
{% endblock head %}

{% block body %}
    <div class="container">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-12" style="text-align: center">
                        Register
                    </div>
                    <fieldset class="form-group">
                    <div class="col-md-12">
                        {{ User_Form1|crispy }}
                        {{ User_Details1|crispy }}
                    </div>
                    </fieldset>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-info register_btn">Register</button>
                    </div>
                    <div class="col-md-12 border-top pt-4">
                        <small class="text-muted">
                            Already have an account? <a class="ml-2" href="#">Login</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
{% endblock body %}