{% extends 'Users/Base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block head %}
    <title>
        Register page
    </title>
{% endblock head %}

{% block body %}
    <div class="card-panel hoverable">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class='row'>

                    {% for hidden in User_Form1.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for hidden in User_Details1.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col s3 offset-s2">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">face</i>
                                {{ User_Form1.username|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.username.id_for_label }}">Username</label>
                                {% if User_Form1.username.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                        data-success="right">{{ User_Form1.username.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.username.errors %}
                                    <span class="helper-text red-text"
                                        style="font-size:large">{{ User_Form1.username.errors }}</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">assignment_ind</i>
                                {{ User_Form1.first_name|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.first_name.id_for_label }}">First name</label>
                                {% if User_Form1.first_name.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Form1.first_name.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.first_name.errors %}
                                    <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Form1.first_name.errors }}</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">assignment_ind</i>
                                {{ User_Form1.last_name|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.last_name.id_for_label }}">Last name</label>
                                {% if User_Form1.last_name.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Form1.last_name.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.last_name.errors %}
                                    <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Form1.last_name.errors }}</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">lock_open</i>
                                {{ User_Form1.password1|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.password1.id_for_label }}">Password</label>
                                {% if User_Form1.password1.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right">{{ User_Form1.password1.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.password1.errors %}
                                    <span class="helper-text red-text"
                                          style="font-size:large">{{ User_Form1.password1.errors }}</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">lock</i>
                                {{ User_Form1.password2|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.password2.id_for_label }}">Re-enter password</label>
                                {% if User_Form1.password2.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right">{{ User_Form1.password2.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.password2.errors %}
                                    <span class="helper-text red-text"
                                          style="font-size:large">{{ User_Form1.password2.errors }}</span>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white">contact_mail</i>
                                {{ User_Form1.email|add_class:"validate" }}
                                <label class="white" for="{{ User_Form1.email.id_for_label }}">Email</label>
                                {% if User_Form1.email.help_text %}
                                    <span class="helper-text" data-error="wrong"
                                          data-success="right">{{ User_Form1.email.help_text }}</span>
                                {% endif %}
                                {% if User_Form1.email.errors %}
                                    <span class="helper-text red-text"
                                          style="font-size:large">{{ User_Form1.email.errors }}</span>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    <div class="col s3 offset-s2">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix white">phone_android</i>
                            {{ User_Details1.phone|add_class:"validate" }}
                            <label class="white" for="{{ User_Details1.phone.id_for_label }}">Phone No</label>
                            {% if User_Details1.phone.help_text %}
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Details1.phone.help_text }}</span>
                            {% endif %}
                            {% if User_Details1.phone.errors %}
                                <span class="helper-text red-text"
                                  style="font-size:large">{{ User_Details1.phone.errors }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix white">pin_drop</i>
                            {{ User_Details1.address|add_class:"materialize-textarea validate" }}
                            <label class="white" for="{{ User_Details1.address.id_for_label }}">Address</label>
                            {% if User_Details1.address.help_text %}
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Details1.address.help_text }}</span>
                            {% endif %}
                            {% if User_Details1.address.errors %}
                                <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Details1.address.errors }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix white">domain</i>
                            {{ User_Details1.street|add_class:"validate" }}
                            <label class="white" for="{{ User_Details1.street.id_for_label }}">Street</label>
                            {% if User_Details1.street.help_text %}
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Details1.street.help_text }}</span>
                            {% endif %}
                            {% if User_Details1.street.errors %}
                                <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Details1.street.errors }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix white">location_city</i>
                            {{ User_Details1.city|add_class:"validate" }}
                            <label class="white" for="{{ User_Details1.city.id_for_label }}">City</label>
                            {% if User_Details1.city.help_text %}
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Details1.city.help_text }}</span>
                            {% endif %}
                            {% if User_Details1.city.errors %}
                                <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Details1.city.errors }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix white">fiber_pin</i>
                            {{ User_Details1.pincode|add_class:"validate" }}
                            <label class="white" for="{{ User_Details1.pincode.id_for_label }}">Pin code</label>
                            {% if User_Details1.pincode.help_text %}
                                <span class="helper-text" data-error="wrong"
                                      data-success="right">{{ User_Details1.pincode.help_text }}</span>
                            {% endif %}
                            {% if User_Details1.pincode.errors %}
                                <span class="helper-text red-text"
                                      style="font-size:large">{{ User_Details1.pincode.errors }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ User_Details1.image|add_class:"validate" }}
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="waves-effect waves-light btn">Register<i class="material-icons right">send</i></button>
                    </div>
                    <div class="row">
                        <div class="col s3 offset-s5">
                            <small class="text-muted">
                                Already have an account? <a class="ml-2" href='{% url 'Users-Login' %}'>Login</a>
                            </small>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="divider"></div>
            <div class="section"></div>
            <div class="row">
                <div class="center">
                    or login with:
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="btn white darken-4 col s10 m4">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                        <div class="left">
                            <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                        </div>
                            Login with Google
                        </a>
                    </div>
                </div>
            </div>
{% endblock body %}
