body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}

#banner{
    background-size: cover;
    min-height: 630px;
	min-width:100%;
}

.bg-color{
    background-color: RGBA(0, 0, 0, 0.5);
    min-height: 630px;
}
#banner h2{
    font-family: 'Satisfy', sans-serif;
    font-size: 40px;
    color: #FFB03B;
}
#banner p{
    font-family: 'PT Sans', sans-serif;
    color: #fcfcfc;
    font-size: 34px;
}
.section-padding{
	position:relative;
	padding-left:20%;
    padding: 60px 0px;

}


.logo-name{
    font-family: 'Satisfy', sans-serif;
    font-size: 85px;
    margin-top: 140px;
    color: #FFB03B;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
	cursor: pointer;
}

.menu-icon {
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
	margin-left:95%;
}

.header-h {
    color: #FFB03B;
    font-size: 46px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}

.header-p {
    color: #9699a6;
    font-size: 16px;
}

.btn {
	float:right;
	padding-right:20%;
	padding-top:15px;

}

.btns {
	background:transparent;
	font-family: Amarante;
    text-transform: uppercase;
    letter-spacing: 1px;
	border: 1px solid #FFB03B;
	border-radius:50px;
}


.menu-restaurant{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}

.menu-restaurant .btns{
    float: right;
    position: relative;
}

.menu-restaurant .menu-title {
    float: left;
    font-family: Amarante;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFB03B;
}
.menu-restaurant .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}
.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-restaurant {
    display: block;
    float: left;
    color: #B1B1B1;
    font-family: Satisfy,'Open Sans',arial;
    font-size: 1.2rem;
}


.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}

#menu-flters {
	padding-left:15%;
}

#menu-flters ul li a.active,#menu-flters ul li a:hover,.btns:hover {
    background: #FFB03B;
    color: #fff;
    border: 1px solid #FFB03B;
}
#menu-flters ul li {
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
#menu-flters ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 50px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

.food-menu{
	padding-left:30%;
}

.row{
	margin-right:-15px;margin-left:-15px;
}
.row:after{clear:both}
.row:after,.row:before{display:table;content:" "}
