<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static "rest_end/css,js/style.css"%}">
</head>

<body>
  <!--banner-->
  <section id="banner" style="background: url({%static "hotels/images/banner-bg.jpg"%}) no-repeat center top;">
    <div class="bg-color">
      <header style="border:1px solid">	
      </header>
        
          <div class="inner text-center" style="text-align:center">
            <h1 class="logo-name">Food3zz</h1>
            <h2>Food @ Your Doorstep</h2>
          </div>
        
    </div>
  </section>
  <!-- / banner -->

  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="row">
	   
	   <div style="padding-left:10%">
			<h1 class="header-h">Menu List</h1>
	   </div>
	   <div class="food-menu">
		
        
		
		  <div class="heading" style="position:sticky;top:0;color:black">
            <span style="font-family:Eagle Lake;margin-left:0%;font-size:30px">Food Items</span>
            <span style="font-family:Eagle Lake;margin-left:12%;font-size:30px">Price</span>
			<span style="font-family:Eagle Lake;margin-left:16%;font-size:30px">Availability</span>		
		  </div>

    
		
          <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<span style="width:10%"></span>
				<button class="btns">Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<span style="width:10%"></span>
				<button class="btns">Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<span style="width:10%"></span>
				<button class="btns">Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<span style="width:10%"></span>
				<button class="btns">Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<span style="width:10%"></span>
				<button class="btns">Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" >Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" >Delete</button>
		  </div>
	
          <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" >Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" >Delete</button>
		  </div>
		  
		  <div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <span class="menu-title">Veg Biryani</span>
          </div>
		  <div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" >Delete</button>
		  </div>
		  
	   </div>
	   <div class="veg menu-restaurant">
			<button class="menu-title" style="border-radius:50px;margin-left:20%">Update</button>
			<button class="menu-title" id="new" style="border-radius:50px;">Add New</button>
       </div>
    </div>
  </section>
  
  
  <!----add new--->
  
  
  <section id="section-padding" style="margin-left:10px;visibility:hidden">
	<div class="row" style="margin-left:10%">
		<div class="add" style="position:sticky;top:0;color:black">
            <span style="font-family:Eagle Lake;margin-left:1%;font-size:20px">Food Item</span>
            <span style="font-family:Eagle Lake;margin-left:20%;font-size:20px">Price</span>
			<span style="font-family:Eagle Lake;margin-left:22%;font-size:20px">Availability</span>		
		 </div>
		<div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <input type="text" name="newitem" class="menu-title" style="border:1px solid;border-radius:5px">
        </div>
		<div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" id="add">Add Item</button>
		</div>
	</div>
  </section>
  
  <!--/add new--->
  
  <!--<section>
		<div class="row" style="height:200px">
		   <span style="padding-left:10%" class="menu-title">Orders</span>
		   <ul style="padding-left:20%">
		   <div>
			<li></li>
		   </div>
			<li></li>
			<li></li>
		   </li>
		</div>
  </section>-->
  <section class="section-padding" id="contact" style="height:200px;background-color:black;>
		<div class="row">
			<div style="padding-left:30%">
				<h1>Foodezz</h1>
				<address>Tada,Chittoor<br>Andhra Pradesh<br>
				Contact No:64687456748<br>
				Email:tsfsugya@hjg
				</address><br>
			</div>
		</div>
  </section>
  
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
 
  <script>
		$("#new").click(function() {
			$("#section-padding").css("visibility","visible");
			
			})
		$("#add").click(function() {
		
		
			$("#section-padding").slideUp(200);
			$("#section-padding").css("visibility","hidden");
			
			
			})

  </script>

</body>

</html>
