<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buynow</title>
</head>

<body>
     <form method="POST" action="{% url 'payments:pay' %}">
         {% csrf_token %}
         {% for foodname in food %}
             <input type="text" name='foodname' value="{{ foodname.foodname }}">
             {% for i in rest%}
                 {% if i == foodname.restaurantid %}
                     <input type="text" name="restname" value="{{ i.name }}">
                 {% endif %}
             {% endfor %}
             <input type="number" name="quantity" min="1" max="5"><br>
         {% endfor %}
         <input type="submit" value="buy now">
     </form>
</body>
</html>