<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">

  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="footer, contact, form, icons" />


  	<link rel="stylesheet" href="css/demo.css">
  	<link rel="stylesheet" href="css/footer-distributed-with-contact-form.css">

  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>Welcome to Food3zz</title>
    <link rel="stylesheet" href="{% static "css/cart.css" %}" alt="oh crap">
    <script src="{% static "JS/ase1.js" %}"></script>
  </head>
  <body>
<div style= "height: 1400px">

  <header id="nav">
  	<nav role="navigation">
  		<ul>
        <li>
          <a href="/">
            <div>
            <img id="logo" src="{% static "images/123.png" %}" height=100px width=250px margin-top:0px >
          </div>
          </a>
        </li>
  			<li>
  				<a href="/">
  					<div><h1>
  						Home</h1>
  						<span><h1>there's no place like it</h1></span>
  					</div>
  				</a>
  			</li>
  			<li>
  				<a href="/restaurants">
  					<div><h1>
  						Restaurants</h1>
                        <span><h1>find places near you</h1>></span>
  					</div>
  				</a><div>
  					<ul>
  						<li><a href="#">Me</a></li>
  						<li><a href="#">Gaming</a></li>
  						<li><a href="#">Sport</a></li>
  						<li><a href="#">Web Design</a></li>
  						<li><a href="#">Web Development</a></li>
  					</ul>
  				</div>
  			</li>
  			<li>
  				<a href="/location">
  					<div>
  						<h1>Location</h1>
  						<span><h1>tell me where are you</h1></span>
  					</div>
  				</a>
  			</li>

  			<li>
  				<a href="/logout">
  					<div>
  						<h1>Logout</h1>
  						<span><h1>see you again</h1></span>
  					</div>
  				</a>
  			</li>
  		</ul>
  	</nav>
  </header>

<h1>a</h1>
<div class="container"  style="margin-top:300px">
<table class="container">
	<thead>
		<tr id="gg">
			<th><h1>S no.</h1></th>
			<th><h1>Item Name.</h1></th>
			<th><h1>Add to cart</h1></th>
			<th><h1>remove from cart</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>hi</td>
			<td>how </td>
			<td><input type="button" class="button" value="Add To Cart"></td>
			<td><input type="button" class="button" value="Remove from buynow Cart"></td>
		</tr>
		<tr>
			<td>hope</td>
			<td>you</td>
			<td><input type="button" class="button" value="Add To Cart"></td>
			<td><input type="button" class="button" value="Remove from buynow cart"></td>
		</tr>

	</tbody>
</table>
</div>

<div class="container"  style="margin-top:00px">
<table class="container">
	<thead>
		<tr id="gg">
			<th><h1>S no.</h1></th>
			<th><h1>Item Name.</h1></th>
			<th><h1>Add to cart</h1></th>
			<th><h1>remove from cart</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>hi</td>
			<td>how </td>
			<td><input type="button" class="button" value="Add To buynow cart"></td>
			<td><input type="button" class="button" value="Remove from Cart"></td>
		</tr>
		<tr>
			<td>hope</td>
			<td>you</td>
			<td><input type="button" class="button" value="Add To buynow cart  "></td>
			<td><input type="button" class="button" value="Remove from Cart"></td>
		</tr>

	</tbody>
</table>
</div>

<div style="margin-left:350px">
  <button class="button1">Buy Now</button>
</div>

<div class ="footer" style="width:100%">
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>F00d3zz</h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Food3zz &copy; 2018</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>Contact Us</p>

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form>

    </div>

  </footer>

</div>

</div>
</body>
</html>
