<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Feedback</title>
	<style>
		#submit:hover{color:#BB04BB}
		#submit{margin-left:45%;background:transparent;border:2px solid;width:80px;height:30px;font-size:20px;border-radius:5px}
	</style>
</head>

<body style="background-image:url({% static "images/back3.jpg" %});position:absolute">
	<div style="width:400%;height:500px;margin:20% 20% 30% 20%;position:relative">
        Thanks for your valuable feedback
    </div>
</body>
</html>
