{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
    <link href="{% static "css/index3.css"%}" rel="stylesheet">
</head>
<body style="background: url({% static "image/flame-broiled-steak_4460x4460.jpg"%} )">
<form method = "POST" action="{% url 'gpstrack.maps' %}">
    {%  csrf_token %}
    driver id : <br>
    <input type="text" id="driverid" name="driverid"><br>
    <input type="submit" value ="submit">
</form>
</body>
</html>