<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{%static  "css/hotels.css"%}">
    <title>Hotel Details</title>
</head>

<body>


<script>
        function foodname(food_name) {
            document.getElementById('food_name').value=food_name
        }
</script>

  <!--banner-->
  <section id="banner" style="background: url({%static "images/banner-bg.jpg"%}) no-repeat center top;">
    <div class="bg-color">
      <header id="header">

        <div id="mySidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()">&#9932;</a>
			<a href="home.html">Home</a>
            <a href="#menu-list">Menu</a>
			<a href="#contact">Contact</a>
            <a href="">Log Out</a>
        </div>

		<span onclick="openNav()" class="menu-icon">&#9776;</span>
      </header>
      <div>
        <div>
          <div class="inner text-center" style="text-align:center">
            <h1 class="logo-name">Swathi</h1>
            <h2>Food To fit your lifestyle & health.</h2>
            <p>Specialized in both North & South Indian Meals!!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / banner -->

  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="row">
	   <div class="food-menu">
        <div>
          <h1 class="header-h">Menu List</h1>
        </div>

        <div id="menu-flters">
          <ul>
            <li><a class="filter active"  data-filter=".menu-restaurant">Show All</a></li>
            <li><a class="filter"  data-filter=".veg">Veg</a></li>
            <li><a class="filter"  data-filter=".non-veg">Non-Veg</a></li>
          </ul>
        </div>

    <form method="POST" action="{% url 'pay' %}">
        {% csrf_token %}
        {% for fooddata in food %}
        <div class="{{ fooddata.type }} menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <span class="menu-price">₹{{ fooddata.price }}</span>
            </span>
            <span class="menu-title">{{ fooddata.foodname }}</span>
        </div>
        <div class="{{ fooddata.type }} menu-restaurant">
            <input type="submit" class="btns" id="{{ fooddata.foodname }}" name="button" value="add to buynow" onclick="foodname(this.id)">
            <input type="submit" class="btns" id="{{ fooddata.foodname }}" name="button" value="add to cart" onclick="foodname(this.id)">
            <input type="submit" class="btns" name="button" value="buynow">
        </div>
        {% endfor %}
    <input id="food_name" name="food" type="text" hidden>
    </form>
    </div>
    </div>
  </section>
  <section class="section-padding" id="contact" style="height:200px;background-color:black;">
		<div class="row">
			<div style="padding-left:30%">
				<h1>Swathi</h1>
				<address>Tada,Chittoor<br>Andhra Pradesh<br>
				Contact No:64687456748<br>
				Email:tsfsugya@hjg
				</address><br>
			</div>
		</div>
  </section>

  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>

  <script src="{% static "js/hotels.js"%}"></script>

</body>

</html>
        