<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{%static  "css/restupdate.css"%}">
</head>

<body>

 <script>
        function food(name) {
            document.getElementById('foodname').value=name
        }
    </script>

  <!--banner-->
  <section id="banner" style="background: url({%static "images/banner-bg.jpg"%}) no-repeat center top;">
    <div class="bg-color">
      <header style="border:1px solid">	
      </header>
        
          <div class="inner text-center" style="text-align:center">
            <h1 class="logo-name">Food3zz</h1>
            <h2>Food @ Your Doorstep</h2>
          </div>
        
    </div>
  </section>
  <!-- / banner -->

  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <form method="POST" action="{% url 'restupdate' %}">
         {% csrf_token %}
      <div class="row">
	   
	   <div style="padding-left:10%">
			<h1 class="header-h">Menu List</h1>
	   </div>
	   <div class="food-menu">
		
        
		
		  <div class="heading" style="position:sticky;top:0;color:black">
            <span style="font-family:Eagle Lake;margin-left:0%;font-size:30px">Food Items</span>
            <span style="font-family:Eagle Lake;margin-left:12%;font-size:30px">Price</span>
			<span style="font-family:Eagle Lake;margin-left:16%;font-size:30px">Availability</span>		
		  </div>

    

         {% for fooddata in food %}
         <div class="{{ fooddata.type }} menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input name="{{ fooddata.foodname }}_price" type="number" class="menu-price" style="border:1px solid;border-radius:5px" value="{{ fooddata.price }}">
            </span>
            <span class="menu-title">{{ fooddata.foodname }}</span>
         </div>
		 <div class="btn">
             <input name="{{ fooddata.foodname }}_availability" class="ip" type="number" value="{{ fooddata.availability }}">
             <span style="width:10%"></span>
             <input name="submit" class="btns" id="{{ fooddata.foodname }}" type="submit" value="delete" onclick='food(this.id)'>
		 </div>
        {% endfor %}
        </div>
        <input id="foodname" name='foodname' type="text" hidden>

        <div class="veg menu-restaurant">
           <input name='submit' class="menu-title" type="submit" value="update" style="border-radius:50px;margin-left:20%">
           <input name='submit' class="menu-title" type="submit" value="newitem" style="border-radius:50px;">
       </div>

    </div>
  </form>
  </section>



<section id="section-padding" style="margin-left:10px;visibility:hidden">
	<div class="row" style="margin-left:10%">
		<div class="add" style="position:sticky;top:0;color:black">
            <span style="font-family:Eagle Lake;margin-left:1%;font-size:20px">Food Item</span>
            <span style="font-family:Eagle Lake;margin-left:20%;font-size:20px">Price</span>
			<span style="font-family:Eagle Lake;margin-left:22%;font-size:20px">Availability</span>
		 </div>
		<div class="veg menu-restaurant">
            <span class="clearfix">
              <span style="left: 166px; right: 44px;" class="menu-line"></span>
              <input type="number" name="price" class="menu-price" style="border:1px solid;border-radius:5px">
            </span>
            <input type="text" name="newitem" class="menu-title" style="border:1px solid;border-radius:5px">
        </div>
		<div class="btn">
				<input class="ip" type="number" name="available">
				<button class="btns" id="add">Add Item</button>
		</div>
	</div>
  </section>



  <section class="section-padding" id="contact" style="height:200px;background-color:black";>
		<div class="row">
			<div style="padding-left:30%">
				<h1>Foodezz</h1>
				<address>Tada,Chittoor<br>Andhra Pradesh<br>
				Contact No:64687456748<br>
				Email:tsfsugya@hjg
				</address><br>
			</div>
		</div>
  </section>
  
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
 
  <script src="js/custom.js"></script>


</body>
</html>
