<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>restupdate</title>
</head>
<body>
    <script>
        function food(name) {
            document.getElementById('foodname').value=name
        }
    </script>
     <form method="POST" action="{% url 'restupdate' %}">
         {% csrf_token %}
         <input type="text" name="restaurantname" value="{{ rest }}" readonly><br>

         <table class="table table-striped table-dark">
             <tr>
                 <th>Name of food</th>
                 <th>Price</th>
                 <th>Availability</th>
                 <th></th>
             </tr>
             {% for fooddata in food %}
             <tr>
                 <td><input type="text" name="{{ fooddata.foodname }}_name" value="{{ fooddata.foodname }}" readonly></td>
                 <td><input name="{{ fooddata.foodname }}_price" type="number" value="{{ fooddata.price }}"></td>
                 <td><input name="{{ fooddata.foodname }}_availability" type="number" value="{{ fooddata.availability }}"></td>
                 <td><input name="submit" id="{{ fooddata.foodname }}" type="submit" value="delete" onclick='food(this.id)'></td>
             </tr>
             {% endfor %}
         </table>
         <input name='submit' type="submit" value="update">
         <input name='submit' type="submit" value="newitem">
     <input id="foodname" name='foodname' type="text" hidden>
     </form>
</body>
</html>