<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="keywords" content="footer, contact, form, icons" />


  	<link rel="stylesheet" href="css/demo.css">
  	<link rel="stylesheet" href="css/footer-distributed-with-contact-form.css">

  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>Welcome to Food3zz</title>
    <link rel="stylesheet" href="{% static "css/cart.css" %}" alt="oh crap">
    <script src="{% static "JS/ase1.js" %}"></script>
  </head>
  <body>
<div style= "height: 1000px">




<h1 style="margin-top:15px">CART ITEMS</h1>

<table class="container">
	<thead>
		<tr>
			<th><h1>S no.</h1></th>
			<th><h1>Item Name.</h1></th>
			<th><h1>Add to cart</h1></th>
			<th><h1>remove from cart</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>hi</td>
			<td>how </td>
			<td>are</td>
			<td>you</td>
		</tr>
		<tr>
			<td>hope</td>
			<td>you</td>
			<td>are</td>
			<td>00:51:fine</td>
		</tr>

	</tbody>
</table>

<div class ="footer" style="width:100%">
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>F00d3zz</h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Food3zz &copy; 2018</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    <div class="footer-right">

      <p>Contact Us</p>

      <form action="#" method="post">

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      </form>

    </div>

  </footer>

</div>

</div>
</body>
</html>
