{#<!DOCTYPE html>#}
{#{% load staticfiles %}#}
{##}
{#<html>#}
{#  <head>#}
{##}
{##}
{#    <link rel="stylesheet" href="{% static 'css/final.css' %}">#}
{##}
{##}
{#    <title>Welcome to Food3zz</title>#}
{#  </head>#}
{#  <body>#}
{#<div style= "height: 1523px">#}
{#<header>#}
{#	<nav role="navigation">#}
{#		<ul>#}
{#      <li>#}
{#        <a href="/">#}
{#          <div>#}
{#          <img id="logo" src="{% static "images/123.png" %}" height=100px width=250px margin-top:0px >#}
{#        </div>#}
{#        </a>#}
{#      </li>#}
{#			<li>#}
{#				<a href="/">#}
{#					<div><h1>#}
{#						Home</h1>#}
{#						<span><h1>there's no place like it</h1></span>#}
{#					</div>#}
{#				</a>#}
{#			</li>#}
{#			<li>#}
{#				<a href="#">#}
{#					<div><h1>#}
{#						Restaurants</h1>#}
{#						<span><h1>find places near you</span>#}
{#					</div>#}
{#				</a><div>#}
{#					<ul>#}
{#						<li><a href="#">Me</a></li>#}
{#						<li><a href="#">Gaming</a></li>#}
{#						<li><a href="#">Sport</a></li>#}
{#						<li><a href="#">Web Design</a></li>#}
{#						<li><a href="#">Web Development</a></li>#}
{#					</ul>#}
{#				</div>#}
{#			</li>#}
{#			<li>#}
{#				<a href="#">#}
{#					<div>#}
{#						<h1>Location</h1>#}
{#						<span><h1>tell me where are you</h1></span>#}
{#					</div>#}
{#				</a>#}
{#			</li>#}
{##}
{#			<li>#}
{#				<a href="{% url 'Users-Logout' %}">#}
{#					<div>#}
{#						<h1>Logout</h1>#}
{#						<span>see you again</span>#}
{#					</div>#}
{#				</a>#}
{#			</li>#}
{#		</ul>#}
{#	</nav>#}
{#</header>#}
{##}
{#<div id="crossfade">#}
{#  <img class = "img" src="{% static "images/wp3138469-dishes-wallpapers.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/wp3138466-dishes-wallpapers.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/wallpaper-ice-cream--lime--bla.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/food-food-photography-fresh-15.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/Fast-Food-Wallpaper-.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/christmas-cookies-jn(1).jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/artisanal-food-cheese-cooking-.jpg" %}" width=100% height=1200px>#}
{#  <img class = "img" src="{% static "images/3840x2595-2628493-food-4k-for-.jpg" %}" width=100% height=1200px>-->#}
{##}
{#</div>#}
{##}
{#<div class ="footer" style="width:100%">#}
{#  <footer class="footer-distributed">#}
{##}
{#    <div class="footer-left">#}
{##}
{#      <h3>F00d3zz</h3>#}
{##}
{#      <p class="footer-links">#}
{#        <a href="#">Home</a>#}
{#        ·#}
{#        <a href="#">Blog</a>#}
{#        ·#}
{#        <a href="#">Pricing</a>#}
{#        ·#}
{#        <a href="#">About</a>#}
{#        ·#}
{#        <a href="#">Faq</a>#}
{#        ·#}
{#        <a href="#">Contact</a>#}
{#      </p>#}
{##}
{#      <p class="footer-company-name">Food3zz &copy; 2018</p>#}
{##}
{#      <div class="footer-icons">#}
{##}
{#        <a href="#"><i class="fa fa-facebook"></i></a>#}
{#        <a href="#"><i class="fa fa-twitter"></i></a>#}
{#        <a href="#"><i class="fa fa-github"></i></a>#}
{##}
{#      </div>#}
{##}
{#    </div>#}
{##}
{#    <div class="footer-right">#}
{##}
{#      <p>Contact Us</p>#}
{##}
{#      <form action="#" method="post">#}
{##}
{#        <input type="text" name="email" placeholder="Email" />#}
{#        <textarea name="message" placeholder="Message"></textarea>#}
{#        <button>Send</button>#}
{##}
{#      </form>#}
{##}
{#    </div>#}
{##}
{#  </footer>#}
{##}
{#</div>#}
{#    <script src="{% static "JS/ase1.js" %}"></script>#}
{##}
{#</div>#}
{#</body>#}
{#</html>#}
































{% extends 'Users/Base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Welcome to Food3zz</title>
{% endblock head %}

{% block body %}

<div id="crossfade">
  <img class = "img" src="{% static "images/wp3138469-dishes-wallpapers.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/wp3138466-dishes-wallpapers.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/wallpaper-ice-cream--lime--bla.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/food-food-photography-fresh-15.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/Fast-Food-Wallpaper-.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/christmas-cookies-jn(1).jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/artisanal-food-cheese-cooking-.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/3840x2595-2628493-food-4k-for-.jpg" %}" width=100% height=1200px>

</div>

{% endblock body %}