<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>foood selection</title>
</head>
<body>
     <form method="POST" action="{% url 'pay' %}">
         {% csrf_token %}
         <input type="text" name="restaurantname" value="{{ rest }}" readonly>
         <select name="food">
             {% for fooddata in food %}
             <option value='{{ fooddata.foodname }}'>{{ fooddata.foodname }}</option>
             {% endfor %}
         </select>
         <input type="submit" name="button" value="buy now">
         <input type="submit" name="button" value="add to cart">
     </form>
</body>
</html>