<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>restupdate</title>
</head>
<body>
     <form method="POST" action="{% url 'restupdate' %}">
         {% csrf_token %}
         <input type="text" name="restaurantname" value="{{ rest }}" readonly><br>

         <table>
             <th>
                 <td>Name of food</td>
                 <td>Price</td>
                 <td>Availability</td>
             </th>
             {% for fooddata in food %}
             <tr>
                 <td><input type="text" name="{{ fooddata.foodname }}" value="{{ fooddata.foodname }}" readonly></td>
                 <td><input name="{{ fooddata.foodname }}_price" type="number" value="{{ fooddata.price }}"></td>
                 <td><input name="{{ fooddata.foodname }}_availability" type="number" value="{{ fooddata.availability }}"></td>
             </tr>
             {% endfor %}
         </table>
         <input name='submit' type="submit" value="update">
         <input name='submit' type="submit" value="newitem">
     </form>
</body>
</html>