<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset = "utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}" alt="oh crap">
    <script src="{% static "JS/ase1.js" %}"></script>
  </head>
  <body>
<div style= "height: 1300px">
<header>
	<nav role="navigation">
		<ul>
      <li>
        <a href="/" id ="gg">
          <div>
          <img id="logo" src="{% static "images/123.png" %}" height=100px width=250px margin-top:0px >
        </div>
        </a>
      </li>
			<li>
				<a href="/">
					<div style="><h1>
						Home</h1>
						<span><h1>there's no place like it</h1></span>
					</div>
				</a>
			</li>
			<li>
				<a href="/restaurants">
					<div><h1>
						Restaurants</h1>
						<span><h1>find places near you</span>
					</div>
				</a><div>
					<ul>
						<li><a href="#">Me</a></li>
						<li><a href="#">Gaming</a></li>
						<li><a href="#">Sport</a></li>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Development</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a href="/location">
					<div>
						<h1>Location</h1>
						<span><h1>tell me where are you</h1></span>
					</div>
				</a>
			</li>
			<li>
				<a href="/logout">
					<div>
						<h1>Logout</h1>
						<span><h1>see you again</h1></span>
					</div>
				</a>
			</li>
		</ul>
	</nav>
</header>

<div id="crossfade">
  <img class = "img" src="{% static "images/wp3138469-dishes-wallpapers.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/wp3138466-dishes-wallpapers.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/wallpaper-ice-cream--lime--bla.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/food-food-photography-fresh-15.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/Fast-Food-Wallpaper-.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/christmas-cookies-jn(1).jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/artisanal-food-cheese-cooking-.jpg" %}" width=100% height=1200px>
  <img class = "img" src="{% static "images/3840x2595-2628493-food-4k-for-.jpg" %}" width=100% height=1200px>-->

</div>

<div class ="footer" style = "position:fixed;bottom:0">

      <h1>About Us</h1>
      <h1>Blog</h1>
      <h1>Contact</h1>

</div>

</div>
</body>
</html>
